# NPM原地址,发布代码时使用,在开发时可使用下面的taobao镜像源(registry.npm.taobao.org)
# The original address of NPM is used when publishing code. The following Taobao image source can be used during development(registry.npm.taobao .org)
#registry=http://registry.npmjs.org

# 国内用户安装依赖时可使用淘宝镜像源
# Domestic users can use Taobao image source when installing dependency
# registry=https://registry.npm.taobao.org
# sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
# electron_mirror=https://npm.taobao.org/mirrors/electron/